body{
    padding: 45px;
}

.main-section {
    background-color: rgb(50, 146, 255, 0.4);
    border: 1px solid rgb(50, 146, 255, 0.6);
    padding: 45px;
    text-align: center;
    border-radius: 9px;
    
}

h1 span{
    font-weight: normal;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

}

.btn-container button{
    margin: 0 10px;
    color: white;
    background-color: var(--main-color);
    border: none;
    padding: 9px 18px;
    border-radius: 9px;
    font-size: 14px;
}