
body{
    padding: 60px;
    background-color: white;

}

.item-preview button{
    width:100%;
    background-color: white;
    border: none;
    padding: 0;
}

.preview-btn {
    margin: 18px 0;
    /* padding: 10px 20px; Adjust padding as needed */
    transition: padding 0.3s ease; /* Add transition for smooth effect */
    cursor: pointer; /* Set cursor to pointer */
}

.preview-btn:hover {
    padding: 12px 24px; 
}

.search-container{
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
}

.button-container button{
    padding: 9px 18px;
    margin-left: 9px;
    border-radius: 9px;
    border: none;
}

#page-title{
    margin: 45px 0;
    background-color: white;
}

h1#page-title{
    font-size: 64px;
    font-weight:normal;
}

#search-bar{
    padding: 9px;
    border-radius: 3px;
    border-width: 1;
}

#search-button{
    background-color: var(--main-color);
    color: white;
}

#clear-button{
    background-color: red;
    color: white;
}

#add-more{
    background-color: var(--main-color);
    color: white;
    padding: 12px 21px;
    margin-left: 9px;
    border-radius: 9px;
    border: none;
    font-size: 14px;
}