body{
    padding: 60px;
    background-color: white;
}

#image{
    width: 300px;
}

.image-container{
    width: 50%;
    display: flex;
    justify-content: center;
}

.main-details{
    padding: 15px;
    width: 45%;
}

.main-details a{
    font-weight: lighter;
    font-size: 14px;
    color: var(--main-color);
    text-align: left;
}

#main h1{
    background-color: white;
    font-size: 64px;
    font-weight: normal;
    margin: 0 0 30px 0;
}

#main h4{
    font-size: 24px;
}

#main h5{
    font-size: 20px;
    font-weight: normal;
    color: #3292ffdd;
}

#details{
    padding-bottom: 30px;
    background-color: #aad6ec55;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

.sec-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column{
    width: 45%;
    padding: 15px;
}

.order-sec {
    display: flex;
    justify-content: center;
}


.order-btn{
    background-color: var(--main-color);
    color: white;
    padding: 12px 21px;
    margin-left: 9px;
    border-radius: 9px;
    border: none;
    font-size: 14px;
}


#stats h1{
    background-color: white;
    font-size: 48px;
    font-weight: normal;
}

.graph {
    text-align: center;
}