h1 {
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.bill-container {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bill {
    width: 50%;
    background-color: rgb(50, 146, 255);
}

.payment, .address, .items, .supplier {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.label {
    font-weight: bold;
}


.single-item {
    width: 80%;
    display: grid;
    column-gap: 35vw;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
}

.item-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 50px;
}

.heading {
    font-weight: 600;
}

.big {
    font-size: 20px;
}

.final {
    margin-top: 40px;
}

.cost-container {
    justify-self: start;
}
.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
}
.cancel-button {
    margin-top: 20px;
    width: 400px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: red;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    transition: all 0.2s linear;
}

.confirm-button {
    margin-top: 20px;
    width: 400px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(50, 146, 255);
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    transition: all 0.2s linear;
}

.confirm-button:hover {
    background-color: rgb(108, 177, 255);
    transform: scale(1.05);
    cursor: pointer;
}

.cancel-button:hover {
    background-color: rgb(255, 59, 59);
    transform: scale(1.05);
    cursor: pointer;
}