.filter-section {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-container {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.button-container button {
    margin-top: -50px;
    width: 120px;
    height: 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(50, 146, 255);
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    transition: all 0.2s linear;
}

.view-orders {
    position: relative;
    margin-bottom: 100px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.view-orders-button {
    margin: 50px 15px 0 15px;
    
    width: 200px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(50, 146, 255);
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    transition: all 0.2s linear;
}

.view-orders-button:hover {
    background-color: rgb(108, 177, 255);
    transform: scale(1.05);
    cursor: pointer;
}



.button-container .clear-button {
    margin-left: 20px;
    background-color: red;
}
.button-container .search-button:hover {
    background-color: rgb(108, 177, 255);
    transform: scale(1.05);
    cursor: pointer;
}

.button-container .clear-button:hover {
    background-color: rgb(255, 59, 59);
    transform: scale(1.05);
    cursor: pointer;
}

.order-item-button {
    margin-top: 50px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(50, 146, 255);
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    transition: all 0.2s linear;
}

.order-item-button:hover {
    background-color: rgb(108, 177, 255);
    transform: scale(1.05);
    cursor: pointer;
    margin-right: 30px;
}

.search-bar {
    border-bottom: solid black 1px;
    background-color: #eeeeee;
    width: 420px;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear {
    display: none;
    width: 0px;
}

#search-bar {
    outline: none;
    border: none;
    width: 400px;
    height: 40px;
    background-color: transparent;
}



.suppliers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supplier-container {
    width: 90%;
    
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 4px 5px 2px black;
    /* border-bottom: rgb(106, 151, 236) solid 2px; */
    transition: all linear 0.2s;
}

.supplier-container:hover {
    /* cursor: pointer; */
    margin-left: 20px;
}

.image {
    width: 300px;
    height: 300px;
    background-color: black;
}

.name {
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}



.description, .email, .numbers {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;

}


.label {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.contacts {
    margin-top: 50px;
}

.errors {
    
    width: 100%;
    display: flex;
    position: relative;
    top: 150px;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}

.suggestion {
    color: grey;
    margin-top: -10px;
    font-size: 14px;
}