*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

#regForm {
    background-color: rgba(255, 255, 255, 0.13);
    margin: 100px auto;
    padding: 20px;
    width: 55%;
    min-width: 200px;
    border-radius: 0px;
    backdrop-filter: blur(10px);
}

#regForm * {
    color: black;
    letter-spacing: 0.5px;
}

#regForm h1 {
    font-family: 'Outlaw', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: rgb(50, 146, 255);
    margin-bottom: 30px;
}

input,
select {
    display: block;
    height: 50px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 0 10px;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 4px;
}

::placeholder {
    color: gray;
}

/* Mark input boxes that get an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    font-family: 'Outlaw', sans-serif;
    font-size: 18px;
    display: none;
    font-weight: 800;
}

select {
    display: block;
    width: 25%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgba(255, 255, 255, 0.07);
    border: none;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
}

select:focus {
    outline: none;
    border-bottom-color: rgb(50, 146, 255);
}

.date {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    width: 30%;
}

#regForm div button {
    border: none;
    margin-top: 20px;
    margin-right: 10px;
    width: 80px;
    padding: 5px 0px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: rgb(50, 146, 255);
}

#regForm div button:hover {
    color: white;
    background-color: rgb(4, 56, 245);
}

button {
    margin-top: 15px;
    width: 75%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 15px 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}