:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .rectangle {
    position: absolute;
    width: 17.92%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0px;
    background: #d9d9d9;
    z-index: 4;
  }
  .dashboard-inventory-suppliers {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 228px;
    height: 198px;
    margin: 26px 0 0 25px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24.205px;
    text-align: left;
    z-index: 3;
  }
  .copyright-tempusfugit {
    display: block;
    position: relative;
    height: 15px;
    margin: 768px 0 0 25px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  .flex-column-a {
    position: absolute;
    width: 1130px;
    height: 983px;
    top: 17px;
    left: 310px;
    font-size: 0px;
    z-index: 29;
  }
  .finances {
    display: block;
    position: relative;
    height: 77px;
    margin: 108px 0 0 0;
    color: #616161;
    font-family: Inter, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 77px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
  }
  .rectangle-1 {
    position: relative;
    width: 1056px;
    height: 167px;
    margin: 35px 0 0 1px;
    background: #efefef;
    overflow: visible auto;
  }
  .flex-row-ef {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1004px;
    height: 48px;
    margin: 24px 0 0 22px;
    z-index: 10;
  }
  .net-balance {
    flex-shrink: 0;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .dollar-sign {
    flex-shrink: 0;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .rectangle-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 203px;
    height: 50px;
    margin: 33px 0 0 823px;
    cursor: pointer;
    background: #d9d9d9;
    border: none;
    z-index: 12;
  }
  .log-investment {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 175px;
    height: 29px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    white-space: nowrap;
    z-index: 12;
  }
  .rectangle-button {
    position: relative;
    width: 1057px;
    height: 43px;
    margin: 42px 0 0 0;
    background: #d9d9d9;
    border: none;
    z-index: 23;
  }
  .given-to-suppliers {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 10px;
    left: 10px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
  }
  .rectangle-button-3 {
    position: relative;
    width: 1057px;
    height: 43px;
    margin: 6px 0 0 0;
    background: #5fd363;
    border: none;
    z-index: 24;
  }
  .received-from-customers {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 10px;
    left: 10px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
  }
  .rectangle-button-4 {
    position: relative;
    width: 1057px;
    height: 43px;
    margin: 6px 0 0 0;
    background: #fa7b7b;
    border: none;
    z-index: 25;
  }
  .profits {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 9px;
    left: 10px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
  }
  .financial-statistics {
    display: block;
    position: relative;
    height: 29px;
    margin: 46px 0 0 0;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 29;
  }

  .financial-data {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 391px;
    height: 72px;
    top: 40px;
    left: 434px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 18.153px;
    text-align: left;
    z-index: 21;
  }