/* General Styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    margin: 0 auto;
    margin-top: 10vh;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    text-align: center;
}

.title {
    color: #085993;
}

.message {
    margin-top: 20px;
}

.return-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8DCFFF; 
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.return-button:hover {
    background-color: #085993;
}
