/* General Styles */
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Table Styles */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border-right: 4px solid #085993;
    border-bottom: 4px solid #085993;
    text-align: center;
}

th {
    background-color: #8DCFFF;
    color: white;
    font-size: 1.2em;
    padding: 1vh;
}

th, td {
    border: 1px solid #C0DFFF;
    height: 3vh;
}

/* Specify column widths */
.name-of-item {
    width: 35%;
}

.item-id,
.amount,
.discount {
    width: 15%;
}

.item-total {
    width: 20%;
}

/* Input and Select Styles */
input, select {
    width: 100%;
    height: 100%;
    border: none;
    color: black;
    text-align: center;
    background-color: transparent;
}

/* Customer Info Styles */
.customer-info,
.additional-options {
    width: 70%;
    margin: 2vh 0 1vh 20%;
    display: flex;
}

.customer-info label,
.additional-options label {
    width: 25%;
    display: inline-block;
}

.customer-info input,
.additional-options input[type=text],
#card_details {
    width: calc(70% - 160px);
    margin-left: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 15px;
}

/* Total and Bill Options Styles */
.total-and-bill-options {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
}

.total-and-bill-options input[type=text],
.total-and-bill-options input[type=submit],
.total-and-bill-options button {
    width: 35%;
    margin-top: 15px;
    margin-right: 20%;
    padding: 5px;
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s all;
    height: 35px;
}

.total-and-bill-options input[type=text] {
    background-color: white;
}

.total-and-bill-options input[type=submit],
.total-and-bill-options button {
    background-color: #8DCFFF;
    border: 1px solid white;
}

.total-and-bill-options input[type=submit]:hover,
.total-and-bill-options button:hover {
    background-color: white;
    border: 1px solid #8DCFFF;
}

.total-and-bill-options a {
    text-decoration: none;
    color: black;
}

/* Cashier Styles */
.cashier-options {
    width: 50%;
}

.cashier-bottom-content {
    display: flex;
    justify-content: space-between;
}

/* Additional Options Styles */
.additional-options label {
    margin-right: 10px;
}

.additional-options input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/* Manage Bills Styles */
.manage-bills {
    width: 10%;
    margin-top: 8vh;
    margin-left: 10%;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all;
    background-color: #8DCFFF;
    color: white;
}

.manage-bills:hover {
    background-color: white;
    border: 1px solid #8DCFFF;
    color: #8DCFFF;
}
