/* Table Styles */
table {
    width: 80%;
    margin: 4vh auto;
    border-collapse: collapse;
    border-bottom: 4px solid #085993;
    border-right: 4px solid #085993;
}

th {
    background-color: #8DCFFF;
    color: white;
    font-size: 1.2em;
    padding: 1vh;
    text-align: center;
}

td {
    border: 1px solid #C0DFFF;
    height: 3vh;
    text-align: center;
}

/* Form Field Styles */
input, select {
    width: 100%;
    height: 100%;
    border: none;
    color: black;
    text-align: center;
}

/* Total and Print Section Styles */
.total-and-print {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: flex-end;
}

/* Input and Button Styles */
.total-and-print input[type="text"],
.total-and-print button {
    width: 15%;
    margin-left: auto;
    margin-bottom: 10px;
    height: 3.5vh;
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;
}

/* Button Specific Styles */
.total-and-print button {
    background-color: #8DCFFF;
    border: none;
    padding: 0.5rem 1rem;
}

/* Button Hover Styles */
.total-and-print button:hover {
    color: #8DCFFF;
    background-color: white;
}
